/* CUSTOM CSS FOR CMCO  VERSION WITH BOOTSTRAP*/
body{background-color:#aaa;}
.container{margin-top:5px;border-radius:10px;}

/*hr{border-top: 1px solid #aaa;}*/
.page-header{border-bottom:1px solid #005596;}
/*#namecarole{font-size:24px;color:#5990B1;}*/
/*.col-md-3{margin-left:0px;padding-left:1px;}
.col-md-4 {text-align:left;}*/


.navbar-default{border-color:transparent;}
#callus{font-size:24px;color:#333;margin-left:60px;}
#social{margin-left:30px;}
#social a:hover{background-color:#aaa;}
#loupe{background:url(../images/search20.png) no-repeat left ;}

.h33{text-align:center; color:#005596; font-weight: bold;}
.h333{color:#005596; font-weight: bold;}
.slogan{text-align:center;font-size:16px;font-weight: bold;}
.sloganallpages{margin-top:70px;}
.clientfeedback{font-size:18px;margin:0;background-color:#F3FBFD;padding:20px;border-radius:4px;max-height:380px;}
.services{font-size:16px;}
.services img{margin-bottom:20px; text-align:center;}
.btn-default:hover {background-color: #F3FBFD;}
 
.testimony{border:1px solid red;min-height: 700px;}

.haut{position:relative; text-align:right; padding:5px;}
.movie{margin-top:15px;}

/*
	==========================================
              SLIDER IMAGES STYLE  
	==========================================
*/
 .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('../img/a22.png') center center no-repeat;
            overflow: hidden;
        }
        .jssora22l {background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }

.slider{position:relative;width:100%; margin-top:1em;}
/*.slider:before{
  content:""; 
  background: #5990B1; 
  position: absolute; 
  top:-2px;
  left: 6px; 
  height: 2px; 
  width:99%;
}*/

#message1, #message2, #message3, #message4, #message5, #message6{font-family: arial;font-weight: bold;z-index:100;}
#message1{position:absolute; bottom:6%;left:12%;font-size:2em;color:#F5003C;}
#message2{position:absolute; bottom:1%; left:1%; font-size:2em;color:#F5003C;}
#message3{position:absolute; top:10%; left:25%; font-size:1.2em;color:#F5003C;}
#message4{position:absolute; top:4%; left:2%; font-size:2em;color:#F5003C;}
#message5{position:absolute; bottom:2%; left:5%; font-size:2em;color:#F5003C;}
#message6{position:absolute; top:8%; left:5%; font-size:3em;color:#F5003C;}



.client{
  font-size:1.8em;
  color:#F5003C;/*red*/
  font-weight:bold;
  font-family: Dancing Script;
  margin-bottom:3em;
  /*margin-right:2em;*/
  /*text-align:right;*/
}

.pied{margin-top:20px;padding:20px 0;border-top:1px solid #005596;background-color:#fff;}

.touteslespages{ padding-bottom: 9px;
  margin: 25px 0 20px;
  border-top: 1px solid #005596;
  border-bottom: 2px groove #F5003C;}

.list-group-item{
  border-left: 0px solid #ddd;
  border-right: 0px solid #ddd;}

.list-group-item:first-child{border:none;}

.list-group-item:last-child {border-bottom:none;}


a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
  color: #555;
  text-decoration: none;
  background-color: #B7E9EB;
}
.label-info {
  background-color: #005596;
}
/*
  ===============================
  WAVES STYLESLIDER IMAGES STYLE  
  ===============================
*/
#wave {
  position: relative;
  height: 40px;
  width: 1050px;
  background: #aaa;
}
#wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 340px;
  height: 80px;
  background-color: white;
  right: -5px;
  top: 40px;
}
#wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 800px;
  height: 40px;
  background-color: #aaa;
  left: 0;
  top: 27px;
}